{% extends 'reference/base.html' %}
{% block title %} Books list {% endblock title %}
{% block header  %} Cart {% endblock header %}

{% block  body %}
<form action = "{%url 'order:update_cart' %}" method = "get" > 

<table class = 'table'>
    <tr>
        <td> Name </td>
        <td> Quantity </td>
        <td> Price </td>
        <td> Actions </td>
  
    </tr>
    {%for item in cart.goods.all %}
<tr>
    <td> {{item.book.name}} </td>
    <td> <input type = "number" name = "good__{{item.pk}}" id = "" value = {{item.quantity}} min = "0" step = "1" </td>
    <td> {{item.price}} </td>
    <td> <a href = "{%url 'order:delete_from_cart' item.pk %}" class= "btn btn-danger"> Delete </a> </td>
    {%endfor%} 
</tr>
<tr>
    
    <td colspan = '2'> Total price </td> 
    <td>{{cart.total_price}} </td>
</tr>
</table>
<hr>
<h5> Enter your credentials </h5>
<h6> Your name </h6>
<input type="text" class="form-control me-3" placeholder="Name" name="name" id=""><br>
<h6> Contact number </h6>
<input type="text" class="form-control me-2" placeholder="Contact number" name="telephone" id=""><br>
<h6> Address </h6>
<input type="text" class="form-control me-2" placeholder="Address" name="address" id=""><br>
 <hr>
<input type = "submit" name = "action_type" value = "update" class = 'btn btn-success'>
<input type = "submit" name = "action_type" value = "order" class = 'btn btn-warning'>
</form>
{% endblock body %}

