{% extends 'reference/base.html' %}
{% block title %} Books list {% endblock title %}
{% block header  %} Cart {% endblock header %}

{% block  body %}
<form action = "{%url 'order:update_cart' %}" method = "get" > 

<table class = 'table'>
    <tr>
        <td> Name </td>
        <td> Quantity </td>
        <td> Price </td>
        <td> Actions </td>
  
    </tr>
    {%for item in cart.goods.all %}
<tr>
    <td> {{item.book.name}} </td>
    <td> <input type = "number" name = "good__{{item.pk}}" id = "" value = {{item.quantity}} min = "0" step = "1" </td>
    <td> {{item.price}} </td>
    <td> <a href = "{%url 'order:delete_from_cart' item.pk %}" class= "btn btn-danger"> Delete </a> </td>
    {%endfor%} 
</tr>
<tr>
    
    <td colspan = '2'> Total price </td> 
    <td>{{cart.total_price}} </td>
</tr>
</table>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }} <br>
    <input type="submit" class="btn btn-primary">


<input type = "submit" name = "action_type" value = "update" class = 'btn btn-success'>
<input type = "submit" name = "action_type" value = "order" class = 'btn btn-warning'>
</form>
{% endblock body %}

