{% extends 'forecast/base.html' %}
{% block title %} Books list {% endblock title %}
{% block head  %} Books list {% endblock head %}

{% block  body %}

<table class="table table-success table-striped" border="1"> 
    <tr>
        <td> name</td>
        <td> details </td> 
        <td> description </td>
    </tr>
    {% for obj in object_list %}
    <tr><td> {{obj.id}} {{obj}} </td>
        <td> <a href="/book/">{{book.id}} {{book.name}}</a> details </td>
        <td> {{obj.description}} </td>
               
    </tr>
    {% endfor %}
</table>

{% endblock body %}

