{% extends 'reference/base.html' %}
{% block title %} Books list {% endblock title %}
{% block head  %} Books list {% endblock head %}

{% block  body %}

<table class="table table-success table-striped" border="1"> 
    <tr>
        <td> name</td>
        <td> details </td> 
        <td> price </td>
        <td> description </td>
    </tr>
    {% for obj in object_list %}
    <tr><td> {{obj.pk}} {{obj.name}} </td>
        <td> <a href="{{ obj.get_absolute_url }}"> <i class="bi bi-info-square-fill"></i> </a>  </td>
        <td> {{obj.price}} </td>
        <td> {{obj.description}} </td>
            
    </tr>
    {% endfor %}
</table>

{% endblock body %}
</html>
