{% extends 'forecast/base.html' %}
{% block title %} {{book.name}} {% endblock title %}
{% block head  %} {{book.authors.name}} {% endblock head %}

{% block  body %}

<h1>{{book.name}}</h1>
<b> {{book.content}}<br>
<b> Genre </b> {{book.genre}}<br>
<b> Name </b> {{book.name}}<br>
<b> Author(s) </b> {{book.authors}}<br>
<b> Publisher </b> {{book.publisher}}<br>
<b> Date published </b> {{book.date_published}}<br>
<b> Pages </b> {{book.pages}}<br>
<b> Cover </b> {{book.cover}}<br>
<b> Format </b> {{book.format}}<br>
<b> ISBN </b> {{book.isbn}}<br>
<b> Weight </b> {{book.weight}}<br>
<b> Age restriction </b> {{book.age_restriction}}<br>
<b> Items available </b> {{book.items_available}}<br>
<b> Order status </b> {{book.order_status}}<br>
<b> Rate </b> {{book.rate}}<br>
<b> Description </b> {{book.description}}<br>
<div class = "card" style = "width: 18rem;"> 
    <div class = "card-body">
        <h5 class = "card-title"> {{book.name}} {{book.authors}} </h5>
        <p class = "card-text"> {{book.price}} BYN</p>
        <form action = "{% url 'order:add_to_cart'%}" method = "post" >
            {% csrf_token%}
            <input = "hidden" name = "book_id" value = '1'>
            <form>
                <div class="form-row align-items-center">
                  <div class="col-auto my-1">
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect" >Items</label>
                </div>
                    <div class="col-auto my-1" value = "1" >
                    <input type="submit" class="btn btn-primary" value = "Add to Cart"> 
                  </div>
                </div>
              </form>


{% endblock body %}
