<!DOCTYPE html>
<html>
{% extends 'forecast/base.html' %}
{% block title %} Catchment Area {% endblock title %}
{% block header %} Catchment Area {% endblock header %}

{% block  body %}
<h5 class="p-3 mb-2 bg-dark text-white"> This map shows 5-10-15 min travel times by CAR for delivery/pickup  </h5>
<head>
    <!--  Include leaflet javascript and css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" >
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" crossorigin=""  type="text/javascript"></script>

 <!--  Include mapboxgl javascript and css -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.css' rel='stylesheet'>

    <!--  Include targomo core -->
    <script src="https://releases.targomo.com/core/latest.min.js"  type="text/javascript"></script>
    <script src="https://releases.targomo.com/leaflet/latest.min.js"  type="text/javascript"></script>

    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        #map {
            width: 100%;
            height: calc(100% - 15px);
        }
        #attribution {
            width: 100%;
            height: 15px;
        }
        #attribution > a {
            float: right;
            font-size: 11px;
            line-height: 15px;
            padding: 0px 5px;
        }
    </style>
</head>

<body>
    <!--  where the map will live  -->
    <div id="map"></div>
    <div id="attribution"><a href='https://www.openstreetmap.org/copyright' target='_blank'>&copy; OpenStreetMap contributors</a> <a href='https://targomo.com/developers/attribution/' target='_blank'>&copy; Targomo</a></div>

    <script>
        async function initMap() {
            // create targomo client
            const client = new tgm.TargomoClient('easterneurope', 'WZMBJFDLR1IVRZUYDR2GTGK1G');

            // Coordinates to center the map
            const center1 = [53.906387513111106, 27.5157126309162];
            const center2 = [53.93248053570239, 27.60658839503997];
            const center3 = [53.939622430454385, 27.490669516121578];
            // coordinates
            const tileLayer = new tgm.leaflet.TgmLeafletTileLayer(client, 'Dark');

           // define the map
           var map = L.map('map', {
                layers: [tileLayer]
            }).setView(center1, 11);
            map.locate({setView: true, maxZoom: 16});

            navigator.geolocation.getCurrentPosition(function (position) {
                console.log(position);
                console.log(position.coords.latitude)
                console.log(position.coords.longitude)
                var marker = L.marker([position.coords.latitude,position.coords.longitude]).addTo(map);
                marker.bindTooltip("You are here", 
                {
                    permanent: true, 
                    direction: 'right'
                }
            );
                })

            // define the starting point
            const sources = [{ id: 0, lat: center1[0], lng: center1[1] }, { id: 1, lat: center2[0], lng: center2[1] }, { id: 2, lat: center3[0], lng: center3[1] }];
            
            // Add markers for the sources on the map.
            sources.forEach(source => {
                L.marker([source.lat, source.lng]).addTo(map)
            });

           // polygons time rings
            const travelTimes = [300, 600, 900];
            // time in secs

            // you need to define some options for the polygon service
            const options = {
                travelType: 'car',
                // car or walk
                travelEdgeWeights: travelTimes,
                maxEdgeWeight: 1200,
                edgeWeight: 'time',
                serializer: 'json'
            };


            const colorModes = [
                { text: 'Standard', value: "standard", data: { 300: '#25408F ', 600: '#0C9ED9 ', 900: '#B7E4F4 ', 1200: '#CCCDD5 ', 1500: '#FFD400 ', 1800: '#ED1B34 ' } },
            ];

            // define the polygon overlay
            const polygonOverlayLayer = new tgm.leaflet.TgmLeafletPolygonOverlay({ strokeWidth: 20 });
            polygonOverlayLayer.addTo(map);

            // get the polygons
            const polygons = await client.polygons.fetch(sources, options);
            // calculate bounding box for polygons
            const bounds = polygons.getMaxBounds();
            // add polygons to overlay
            polygonOverlayLayer.setData(polygons);

            polygonOverlayLayer.setColors(colorModes[0].data);

            // zoom to the polygon bounds
             map.fitBounds(new L.latLngBounds(bounds.northEast, bounds.southWest));
        }
        var x = document.getElementById("demo");
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
        }
        
        function showPosition(position) {
          x.innerHTML = "Latitude: " + position.coords.latitude +
          "<br>Longitude: " + position.coords.longitude;
        }
       
        initMap()

    </script>
 
</body>
{% endblock body %}
</html>  
            